@page
@model Eksamensprojekt___Gruppe_7.Pages.AnimalFolder.AnimalModel
@{
    ViewData["Title"] = "Alle dyr";
}

<h2>Her kan du se vores dyr</h2>

<div class="row">
    @foreach (var animal in Model.Animals)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/media/@animal.Picture" class="card-img-top" alt="Dyr billede" style="height: 300px; object-fit: cover;" />
                <div class="card-body">
                    <h5 class="card-title">@animal.Name</h5>
                    <p class="card-text">
                        Race: @animal.Race <br />
                        Chipnummer: @animal.ChipNumber <br />
                        Størrelse (cm): @animal.Size
                    </p>
                    <a asp-page="EditAnimal" asp-route-id="@animal.Id" class="btn btn-sm btn-outline-primary">Rediger</a>
                    <a asp-page="DeleteAnimal" asp-route-id="@animal.Id" class="btn btn-sm btn-outline-danger">Slet</a>
                </div>
            </div>
        </div>
    }
</div>

<a asp-page="AddAnimal" class="btn btn-success mt-3">Tilføj nyt dyr</a>