@page
@model Eksamensprojekt___Gruppe_7.Pages.Employees.IndexModel
@using Eksamensprojekt___Gruppe_7.Models
@* by Ahmed*@
@{
	ViewData["Title"] = "Employees";
}
<h4> Her kan du se vores dygtige medarbejdere	</h4>
<hr />
@if (TempData["Message"] != null)
{
	<div class="alert alert-success">
		@TempData["Message"]
	</div>
}
<div class="row row-cols-3">

	@foreach (Employee employee in Model.Employees)
	{
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="~/Media/@employee.Picture" class="card-img-top" alt="@employee.Name">
				<div class="card-body">
					<h5 class="card-title">@employee.Name</h5>
					<p class="card-text">
						Stilling: @employee.JobTitle <br/>
						Email: @employee.Email <br />
						Telefon: @employee.PhoneNumber <br />
					</p>
					@*edit button*@
					<a asp-page="/Employees/Edit" asp-route-id="@employee.Name">Rediger</a>
					@*delete button*@
					<a asp-page="/Employees/Delete" asp-route-id="@employee.Name">Slet</a> 



				</div>
			</div>
		</div>
	}

</div>
<p> <a asp-page="/Employees/Create" class="btn btn-success mt-4">Tilføj ny medarbejder</a></p>
